.contracting {
    animation: contract 1s 2;
}
@keyframes contract {
    0% {scale: 1;}
    50% {scale: 0.75;}
    100% {scale: 1;}
}

/* Coming Soon Info styles-------------------------------------------------------------------------------*/
.coming-soon-info {
    opacity: 0;
    width: 80vw;
    margin: 10 auto;
    background: white;
    border: 2px solid #b63e32;
    border-radius: 20px;
    padding: 20px;
    animation: fade-in 1s ease-in forwards;
}
@keyframes fade-in {
    100% {
        opacity: 1;
    }
}

/* block overlay animation----------------------------------------------------------------- */
@keyframes shift-background {
    0% {
        background-color: #4c0548;
    }
    50% {
        background-color: #0c698e;
    }
    100% {
        background-color: #4c0548;
    }
}
.blockOverlay{
    /* background: radial-gradient(#4c0548, #0c698e, #4c0548) !important; */
    animation-name: shift-background !important;
    animation-duration: 3s !important;
    animation-iteration-count: infinite !important;
}