/* .category-content{
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10vw;
    margin-right: 10vw;
} */

/* .genre-category{
    padding-top: 10px;
}

.categories--top-level{
    margin-bottom: 15px;
    font-size: 20px;
}

.subcategory {
    padding-left: 40px;
    font-size: 16px;
} */

.fa-caret-down{
    color: #411919;
    margin-left: 20px;
    cursor: pointer;
}

.fa-caret-up{
    color: #411919;
    margin-left: 20px;
    cursor: pointer;
}

.not-displayed{
    display: none;
}

