.image-text--container{
    margin: 0 15vw 0 15vw;
    min-height: 400px;
}
.image-text--image {
    max-height: 350px;
    border-radius: 5px;
    float: left;
    margin: 0 2em 2em 0;
}

.image-text--container-alt{
    min-height: 220px;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
}
.image-text--image-alt {
    max-height: 200px;
    border-radius: 5px;
    float: left;
    margin: 0 2em 2em 0;
}
.image-text--description{
    padding: 10px;
}

@media screen and (max-width: 1024px) {
    .image-text--container{
        margin: 0 5vw 0 5vw;
        min-height: 300px;
    }
}

@media screen and (max-width: 560px) {
    .image-text--image {
        max-width: 300px;
        max-height: auto;
        border-radius: 5px;
        display: block;
        margin: 0 auto 2em auto;
        float: none;
    }
    .image-text--image-alt {
        max-height: auto;
        border-radius: 5px;
        display: block;
        margin: 0 auto 2em auto;
        float: none;
    }
    .image-text--description{
        display: block;
    }
}
.orange-bordered-img{
    display: block;
    margin: auto;
    border: solid #e44e2d 5px;
}
.yellow-bordered-img{
    display: block;
    margin: auto;
    border: solid #f7c340 5px;
}
.blue-bordered-img{
    display: block;
    margin: auto;
    border: solid #0c6980 5px;
}
.purple-bordered-img{
    display: block;
    margin: auto;
    border: solid #4c0548 5px;
}
@media screen and (max-width: 365px) {
    .orange-bordered-img{
        max-width: 260px;
    }
    .yellow-bordered-img{
        max-width: 260px;
    }
    .blue-bordered-img{
        max-width: 260px;
    }
    .purple-bordered-img{
        max-width: 260px;
    }
} 