.banner-img-cls{
    height: 150px !important;
    background: #e44e2d !important;
}
.mvx_bannersec_start {
    padding: 0px !important;
}
.banner-img-cls .mvx-imgcls{
    object-fit: cover !important;
}
.mvx_bannersec_start{
    height: fit-content !important;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .mvx_bannersec_start {
        padding: 0px !important;
    }
}
.mvx-middle-sec .mvx-tab-header{
    display: none !important;
}
.mvx_bannersec_start .mvx-banner-wrap{
    background: #faefe3;
}
.mvx-profile-imgcls{
    border: 5px solid #faefe3 !important;
}