.tomc-book-options--cursor-pointer{
    cursor: pointer;
}
#add-book-button{
    background-color: #0c698e;
    color: #f6ece1;
    font-size: 16;
    border-radius: 15px;
    padding: 20px 40px;
    cursor: pointer;
    display: block;
    margin: 40px auto;
}
.tomc-book-organization--red-text{
    color: #893e43;
}
.tomc-book-organization--blue-text{
    color: #0c6980;
}
.tomc-book-organization--form{
    margin: auto;
    max-width: 500px;
    padding: 10px;
    text-align: center;
    background: #faefe3;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 1;
}
.tomc-book-organization--form-div{
    margin-bottom: 40px;
}
.tomc-book-organization--form input[type=text]{
    border-radius: 10px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-size: 16;
}
.tomc-book-organization--form input[type=radio]{
    height: 20px;
    width: 20px;
    vertical-align: middle;
}
.tomc-book-organization--form select{
    border-radius: 5px;
    text-align: left;
    width: 300px;
    margin-top: 10px;
    font-size: 16;
    display: block;
    margin: 10px auto 20px auto;
    padding: 2px 5px;
}
.tomc-book-organization--form textarea{
    border-radius: 10px;
    width: 100%;
    height: 200px;
    margin-top: 10px;
    text-align: left;
    padding: 10px;
}
.tomc-book-organization--save-button-alt{
    background-color: #0c6980;
    color: white;
    font-size: 16;
    border-radius: 10px;
    padding: 5px 10px;
    width: 300px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}
.tomc-book-organization--save-button{
    background-color: #0c6980;
    color: white;
    font-size: 16;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin: 40px auto 10px auto;
}
.tomc-book-organization--save-penname-edit, #tomc-book-organization--save-new-penname{
    background-color: #4c0548;
    color: white;
    font-size: 16;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px 5px;
}
.tomc-book-organization--cancel-penname-edit, #tomc-book-organization--cancel-new-penname{
    background-color: #893e43;
    color: white;
    font-size: 16;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px 5px;
}
.tomc-book-organization--options-container{
    display: flex;
    margin: 10px auto 40px auto;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 95%;
}
.tomc-book-organization--add-option{
    margin: 3px;
    border-radius: 5px;
    border: solid #0c6980 5px;
    /* background: #0c6980;
    color: white; */
    padding: 10px;
    cursor: pointer;
    max-height: fit-content;
}
.tomc-book-organization--browse-option-1{
    margin: 3px;
    border-radius: 15px;
    border: solid #b63e32 5px;
    padding: 10px;
    background: none;
    cursor: pointer;
}
.tomc-book-organization--browse-option-1-selected{
    background: #b63e32;
    color: white;
    text-shadow: 0px 0px 2px black;
}
.tomc-book-organization--browse-option-2{
    margin: 3px;
    border-radius: 15px;
    border: solid #e44e2d 5px;
    padding: 10px;
    background: none;
    cursor: pointer;
}
.tomc-book-organization--browse-option-2-selected{
    background: #e44e2d;
    color: white;
    text-shadow: 0px 0px 2px black;
}
.tomc-book-organization--browse-option-3{
    margin: 3px;
    border-radius: 15px;
    border: solid #0c6980 5px;
    padding: 10px;
    background: none;
    cursor: pointer;
}
.tomc-book-organization--browse-option-3-selected{
    background: #0c6980;
    color: white;
    text-shadow: 0px 0px 2px black;
}
.tomc-book-organization--option-span{
    margin: 3px;
    border-radius: 15px;
    border: solid #e44e2d 5px;
    padding: 10px;
    background: none;
    cursor: pointer;
}
.tomc-book-organization--option-selected{
    background: #e44e2d;
    color: white;
    text-shadow: 0px 0px 1px #602f32, 0px 0px 1px #602f32, 0px 0px 1px #602f32;
}
.tomc-book-organization__overlay{
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1110;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 1);
    visibility: hidden;
    opacity: 0;
    transform: scale(1.09);
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
    box-sizing: border-box;
}
.tomc-book-organization__overlay input[type=text]{
    border-radius: 10px;
    width: 300px;
    margin: 30px auto 10px auto;
    display: block;
    font-size: 16;
}
.tomc-book-organization__box--active{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.tomc-book-organization__overlay__close{
    position: absolute;
    top: 13px;
    right: 16px;
    font-size: 2.1rem;
    cursor: pointer;
    transition: all 0.3s;
    background-color: transparent;
    color: #b41414;
    line-height: 0.7;
}
.tomc-book-organization--genres-error-section-mobile{
    visibility: hidden;
    line-height: 0;
}
.tomc-book-organization--genres-error-section-desktop{
    visibility: visible;
}
/* .tomc-book-organization--product-option{
    margin: 10px auto 40px auto;
    min-width: 250px;
    max-width: 500px;
    background: #e3caab;
    padding: 30px 10px;
    border-top: solid #d34a24 15px;
    border-right: solid #d34a24 15px;
    border-bottom: solid #d38124 15px;
    border-left: solid #d38124 15px;
    border-radius: 15px;
    justify-content: center;
} */
.tomc-book-organization--product-option img{
    max-width: 200px;
    margin: 10px auto;
    display: block;
    border: solid white 10px;
}
.tomc-book-organization--product-option input[type=checkbox]{
    height: 20px;
    width: 20px;
    vertical-align: middle;
}
.tomc-book-organization--product-option input[type=radio]{
    height: 20px;
    width: 20px;
    vertical-align: middle;
}
.tomc-book-organization--product-option select{
    border-radius: 5px;
    text-align: left;
    width: 200px;
    margin: 10px auto 0 auto;
    font-size: 16;
    display: block;
    padding: 2px 5px;
}
.tomc-book-organization--select-label{
    display: block;
    margin: 10px;
    /* max-width: fit-content; */
}
.tomc-book-organization--large-label{
    font-size: 18;
}
.tomc-book-organization--add-product{
    margin: auto;
    max-width: fit-content;
}
@media screen and (max-width: 750px){
    .tomc-book-organization--genres-error-section-mobile{
        visibility: visible;
    }
    .tomc-book-organization--genres-error-section-desktop{
        visibility: hidden;
        line-height: 0;
    }
}
.tomc-book-organization-label--edit{
    display: block;
    margin: 30px auto 10px auto;
}
.tomc-book-organization-input--edit{
    display: block;
    margin: 0 auto 20px auto;
    min-width: 300px;
    border-radius: 10px;
    font-size: 16;
}
.tomc-book-organization-textarea--edit{
    display: block;
    border-radius: 10px;
    width: 90%;
    height: 200px;
    margin: 0 auto 20px auto;
    text-align: left;
    padding: 10px;
}
.tomc-book-organization-text-input{
    display: block;
    border-radius: 10px;
    width: 300px;
    height: 20px;
    margin: 0 auto 20px auto;
    text-align: left;
    padding: 10px;
}
/* #tomc-browse--search-results-container{
    width: 70%;
    border-radius: 35px 0;
    margin: 10px auto;
    padding: 10px;
} */
.tomc-browse--search-result{
    margin: 0px auto 50px auto;
    background: #f6ece1;
    border-radius: 25px 0;
    border: solid #4c0548 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
}
/* .tomc-browse--search-result-top-section{
    border-radius: 25px 0px 0px 0px;
    background: #f6ece1;
} */
/* .tomc-browse--search-result-top-section h3{
    padding: 20px 10px 0px 0px;
}
.tomc-browse--search-result-top-section p{
    padding: 0px 10px 10px 0px;
}
.tomc-browse--search-result-top-section img{
    display: block;
    margin: 10px auto;
    width: auto;
    height: 200px;
    border-radius: 15px;
}
 */
.tomc-browse--search-result img{
    display: block;
    margin: 10px 0px;
    width: auto;
    height: 200px;
    border-radius: 15px;
    box-shadow: 0 0 15px 0px #444;
}
.tomc-bookorg--all-columns img{
    display: block;
    margin: 10px auto;
    width: auto;
    height: 200px;
    border-radius: 15px;
    box-shadow: 0 0 15px 0px #444;
}
#tomc-book-organization--suggestion-types-select{
    display: block;
    margin: 10px auto;
    min-width: 200px;
}
#tomc-book-organization--enter-suggestion-section textarea{
    border-radius: 10px;
    width: 90%;
    height: 100px;
    display: block;
    margin: 10px auto;
    text-align: left;
    padding: 10px;
}
#tomc-book-organization--enter-suggestion-section p{
    width: 90%;
    margin: 10px auto;
}
.tomc-book-org--columns-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 10px;
    max-width: 1400px;
    margin: auto;
    justify-content: center;
}
.tomc-bookorg--all-columns{
    background: #fff6ec;
    width: 240px;
    border-radius: 25px 0;
    margin: 20px auto 30px auto;
    padding: 10px;
    margin: 10px;
}
/* 4 columns --use out of 3 pattern */
.tomc-book-org--three-of-three{
    border-top: 5px solid #e44e2d;
    border-right: 5px solid #e44e2d;
}
.tomc-book-org--two-of-three{
    border-top: 5px solid #f7c340;
    border-right: 5px solid #f7c340;
}
.tomc-book-org--one-of-three{
    border-top: 5px solid #893e43;
    border-right: 5px solid #893e43;
}
/* <= 3 columns --use out of 4 pattern */
@media screen and (max-width: 1158px) {
    .tomc-book-org--one-of-three{
        border-top: none;
        border-right: none;
    }
    .tomc-book-org--two-of-three{
        border-top: none;
        border-right: none;
    }
    .tomc-book-org--three-of-three{
        border-top: none;
        border-right: none;
    }
    .tomc-book-org--four-of-four{
        border-top: 5px solid #4c0548;
        border-right: 5px solid #4c0548;
    }
    .tomc-book-org--three-of-four{
        border-top: 5px solid #893e43;
        border-right: 5px solid #893e43;
    }
    .tomc-book-org--two-of-four{
        border-top: 5px solid #e44e2d;
        border-right: 5px solid #e44e2d;
    }
    .tomc-book-org--one-of-four{
        border-top: 5px solid #f7c340;
        border-right: 5px solid #f7c340;
    }
}
@media screen and (max-width: 873px){
    .tomc-bookorg--all-columns{
        width: 290px;
    }
}

#tomc-book-organization--book-pen-name{
    padding-bottom: 20px !important;
}
.tomc-shop-books-sort-by-section{
    width: fit-content;
    border-radius: 0px 25px 25px 20px;
    margin: 20px;
    padding: 20px;
    background: #faefe3;
    display: inline-block;
}
.tomc-shop-books-sort-options{
    margin: 3px;
    border-radius: 15px;
    border: solid #602f32 5px;
    padding: 10px;
    background: none;
    cursor: pointer;
    text-align: center;
}
.tomc-shop-books-sort-options-selected{
    background: #602f32;
    color: white;
}
.tomc-shop-books-include-section{
    width: fit-content;
    border-radius: 25px;
    margin: 20px;
    padding: 20px;
    background: #faefe3;
    display: inline-block;
}
.tomc-shop-books-include-options{
    margin: 3px;
    border-radius: 15px;
    border: solid #893e43 5px;
    padding: 10px;
    background: none;
    cursor: pointer;
    text-align: center;
}
.tomc-shop-books-include-options-selected{
    background: #893e43;
    color: white;
}
@media screen and (max-width: 410px) {
    .tomc-shop-books-sort-options, .tomc-shop-books-include-options{
        display: block;
    }
    .tomc-shop-books-sort-by-section, .tomc-shop-books-include-section{
        margin: 20px 0px 10px 10px;
    }
}
#edit-book-pen-name-dropdown{
    margin: auto;
    display: block;
    max-width: 280;
    padding: 5px 10px;
    border-radius: 10px;
}
/* .driving-at-dusk{
    background-image: linear-gradient(#441e42, #6e3f42, #883f2e);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 30px;
    margin-top: -5px !important;
    padding-bottom: 70px;
    margin-bottom: -50px !important;
} */
/* .illuminated-form{
    background: #faefe3;
    border-radius: 20px;
    margin-bottom: 20px;
}
.shaded-form{
    background: #faefe3;
    border-radius: 20px;
    margin-bottom: 20px;
    opacity: 0.3;
}  */
