/* .woocommerce{
    padding: 20px !important;
} */
/* shop page-------------------------------------------------------------------------------------------- */
.woocommerce-loop-product__title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-shadow: none;
}
.woocommerce-pagination{
    margin-top: 20px;
}
.woocommerce-pagination ul{
    list-style-type: none;
    margin: 0px auto;
    display: block;
    width: fit-content;
}
.woocommerce-pagination li{
    display: inline;
    margin-left: 10px;
}

/* login page-------------------------------------------------------------------------------------------- */
.woocommerce-form-login, .woocommerce-form-register{
    width: fit-content;
    margin: 10px auto;
}
#tomc-login-section h1{
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: tankindred, serif;
    font-size: 54;
    font-weight: 300;
    color: #4c0548;
    /* text-shadow: 3px 3px #4c0548; */
}
.registration-header{
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: tankindred, serif;
    font-size: 54;
    font-weight: 300;
    color: #4c0548;
}
.woocommerce-privacy-policy-text{
    max-width: 500px;
    margin-top: 30px;
}
.woocommerce-form-login__submit{
    margin: 10px auto;
    display: block;
    border-radius: 15px;
    background: #e44e2d;
    color: white !important;
    text-shadow: 0 0 2px #333;
    padding: 10px 20px;
    width: fit-content;
    text-align: center;
    cursor: pointer;
}
.woocommerce-form-register__submit{
    margin: 10px auto;
    display: block;
    border-radius: 15px;
    background: #e44e2d;
    color: white !important;
    text-shadow: 0 0 2px #333;
    padding: 10px 20px;
    width: fit-content;
    text-align: center;
    cursor: pointer;
}
#rememberme{
    font-size: 120%;
}
#username{
    border-radius: 5px;
}
#password{
    border-radius: 5px;
}
#reg_email{
    border-radius: 5px;
}
/*single e-book page--------------------------------------------------------------------------------------------*/
/* .product-page-content{
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 20px;
} */
.woocommerce-product-gallery--with-images{
    margin-right: 15px;
    margin-left: 15px;
    /* background: #fcf8f3; */
    background: radial-gradient(white, #fcf8f3);
    border-right: solid #faefe3 15px;
    border-bottom: solid #faefe3 35px;
    border-left: solid #faefe3 15px;
    border-radius: 0 0 75px 75px;
    padding: 20px 15px 20px 20px;
}
.product-page-content .woocommerce-product-gallery__wrapper img{
    width: 300px;
    height: auto;
    margin: 20px auto;
    display: block;
    box-shadow: 0 0 15px 0px #444;
}
@media screen and (max-width: 390px) {
    .woocommerce-product-gallery--with-images{
        margin-right: 5px;
        margin-left: 5px;
    }
    .product-page-content .woocommerce-product-gallery__wrapper img{
        width: 250px;
    }
}
.entry-summary{
    width: fit-content;
    margin: 10px auto 30px auto;
    text-align: center;
}
.single_add_to_cart_button{
    background-color: #4c0548;
    color: white;
    font-size: 16;
    border-radius: 45px;
    padding: 15px 30px;
    cursor: pointer;
    display: block;
    margin: 40px auto;
}
.nyp-disabled{
    opacity: 0.8 !important;
}
.suggested-text{
    color: #333;
    font-size: 16px;
}
.quantity .input-text{
    border-radius: 5px;
    text-align: center;
}
.tomc-product-preview-section-wrapper{
    border: solid #0c6980 5px;
    border-radius: 65px 65px 0px 0px;
    padding: 5px;
    width: fit-content;
    margin: 5px auto;
}
.tomc-product-preview-section{
    border: solid #4c0548 5px;
    border-radius: 55px 55px 0px 0px;
    padding: 20px 30px;
    background: #f6ece1;
    width: fit-content;
}
.tomc-single-book-description{
    border-top: solid #f7c340 5px;
    border-left: solid #f7c340 5px;
    border-bottom: solid #f7c340 5px;
    border-radius: 55px 0 0 55px;
    padding-right: 20%;
    padding-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
    background: #f6ece1;
    min-width: 70%;
}
.tomc-single-book-description-wrapper{
    border-top: solid #e44e2d 5px;
    border-left: solid #e44e2d 5px;
    border-bottom: solid #e44e2d 5px;
    border-radius: 65px 0 0 65px;
    margin-left: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    min-width: fit-content;
    margin-bottom: 5px;
}
.tomc-single-book-excerpt{
    border-top: solid #4c0548 5px;
    border-right: solid #4c0548 5px;
    border-bottom: solid #4c0548 5px;
    border-radius: 0 55px 55px 0;
    padding-left: 20%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 10px;
    background: #f6ece1;
    min-width: 70%;
}
.tomc-single-book-excerpt-wrapper{
    border-top: solid #0c6980 5px;
    border-right: solid #0c6980 5px;
    border-bottom: solid #0c6980 5px;
    border-radius: 0 65px 65px 0;
    margin-right: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 85%;
    margin-bottom: 5px;
}
.tomc-single-product-author{
    border-top: solid #f7c340 5px;
    border-left: solid #f7c340 5px;
    border-bottom: solid #f7c340 5px;
    border-radius: 55px 0 0 55px;
    padding-right: 20%;
    padding-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
    background: #f6ece1;
    min-width: 70%;
}
.tomc-single-product-author-wrapper{
    border-top: solid #e44e2d 5px;
    border-left: solid #e44e2d 5px;
    border-bottom: solid #e44e2d 5px;
    border-radius: 65px 0 0 65px;
    margin-left: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    width: fit-content;
    margin-bottom: 5px;
}
.single-product-review-section{
    border: solid #4c0548 5px;
    border-radius: 0 55px 55px 55px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 10px;
    background: #f6ece1;
}
.tomc-review-section-wrapper{
    border: solid #0c6980 5px;
    border-radius: 0 65px 65px 65px;
    margin-right: 10%;
    margin-left: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    width: fit-content;
    margin-bottom: 5px;
}
#reply-title{
    text-align: left;
    border-top: solid #f7c340 5px;
    border-radius: 25px 0 25px 0;
    padding-top: 20px;
}
.comment-notes{
    /* border-bottom: solid #e44e2d 5px; */
    border-radius: 25px 0 25px 0;
    margin-bottom: 5px;
    padding-bottom: 15px;
}
.comment-form-rating{
    /* border-top: solid #f7c340 5px; */
    /* border-bottom: solid #f7c340 5px; */
    border-radius: 25px 0 25px 0;
}
.comment-form-rating label{
    margin-top: 20px;
}
.comment-form-rating a{
    display: block !important;
}
.selected-star-1:after{
    content: '';
    display: inline-block;
    background: url('../images/one_orange_star.svg');
    width: 100px;
    height: 20px;
}
.selected-star-2:after{
    content: '';
    display: inline-block;
    background: url('../images/two_orange_stars.svg');
    width: 100px;
    height: 20px;
}
.selected-star-3:after{
    content: '';
    display: inline-block;
    background: url('../images/three_orange_stars.svg');
    width: 100px;
    height: 20px;
}
.selected-star-4:after{
    content: '';
    display: inline-block;
    background: url('../images/four_orange_stars.svg');
    width: 100px;
    height: 20px;
}
.selected-star-5:after{
    content: '';
    display: inline-block;
    background: url('../images/five_orange_stars.svg');
    width: 100px;
    height: 20px;
}
.comment-form-comment{
    /* border-top: solid #f7c340 5px; */
    border-radius: 25px 0 25px 0;
}
.tomc-product-single-review{
    border-bottom: solid #0c6980 5px;
    border-radius: 25px 0 25px 0;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#tomcstarrating{
    width: 150px;
    border-radius: 10px;
}
.tomc-product-single-review-stars-1:before {
    content: '';
    display: inline-block;
    background: url('../images/one_orange_star.svg');
    width: 30px;
    height: 20px;
}
.tomc-product-single-review-stars-2:before {
    content: '';
    display: inline-block;
    background: url('../images/two_orange_stars.svg');
    width: 50px;
    height: 20px;
}
.tomc-product-single-review-stars-3:before {
    content: '';
    display: inline-block;
    background: url('../images/three_orange_stars.svg');
    width: 70px;
    height: 20px;
}
.tomc-product-single-review-stars-4:before {
    content: '';
    display: inline-block;
    background: url('../images/four_orange_stars.svg');
    width: 90px;
    height: 20px;
}
.tomc-product-single-review-stars-5:before {
    content: '';
    display: inline-block;
    background: url('../images/five_orange_stars.svg');
    width: 110px;
    height: 20px;
}
.comment-form-comment textarea{
    width: 80%;
    border-radius: 15px;
    padding: 20px;
}
.comment-form-author input[type='text']{
    width: 80%;
    border-radius: 15px;
}
#email{
    width: 80%;
    border-radius: 15px;
}
.comment-form-cookies-consent{
    border-top: solid #f7c340 5px;
    border-radius: 25px 0 25px 0;
    padding-top: 30px;
    margin-top: 30px;
}
.comment-form-cookies-consent input{
    font-size: 120%;
}
.comment-form-cookies-consent label{
    display: inline;
}
.form-submit #submit{
    margin: 10px auto;
    border-radius: 15px;
    background: #e44e2d;
    color: white !important;
    text-shadow: 0 0 2px #333;
    padding: 10px;
    display: block;
    width: fit-content;
    text-align: center;
    cursor: pointer;
}
#tab-title-mvx_customer_qna{
    display: none;
}
#mvx_customer_qna{
    display: none;
}

@media screen and (max-width: 780px) {
    .tomc-single-book-description{
        padding-right: 10%;
        margin-left: 5px;
    }
    .tomc-single-book-description-wrapper{
        margin-left: 10%;
    }
    .tomc-single-book-excerpt{
        padding-left: 10%;
        margin-right: 5px;
    }
    .tomc-single-book-excerpt-wrapper{
        margin-right: 10%;
    }
    .tomc-single-product-author{
        padding-right: 10%;
        margin-left: 5px;
    }
    .tomc-single-product-author-wrapper{
        margin-left: 10%;
    }
    .single-product-review-section{
        margin-right: 5px;
    }
    .tomc-review-section-wrapper{
        margin-right: 5%;
        margin-left: 10%;
    }
    .comment-form-comment textarea{
        width: 90%;
    }
    .comment-form-author input[type='text']{
        width: 90%;
    }
    #email{
        width: 90%;
    }
}
@media screen and (max-width: 580px) {
    .tomc-single-book-description{
        padding-right: 5%;
        margin-left: 5px;
    }
    .tomc-single-book-description-wrapper{
        margin-left: 5%;
    }
    .tomc-single-book-excerpt{
        padding-left: 5%;
        margin-right: 5px;
    }
    .tomc-single-book-excerpt-wrapper{
        margin-right: 5%;
    }
    .tomc-single-product-author{
        padding-right: 5%;
        margin-left: 5px;
    }
    .tomc-single-product-author-wrapper{
        margin-left: 5%;
    }
    .single-product-review-section{
        margin-right: 5px;
    }
    .tomc-review-section-wrapper{
        margin-right: 2%;
        margin-left: 5%;
    }
    .comment-form-comment textarea{
        width: 95%;
    }
    .comment-form-author input[type='text']{
        width: 95%;
    }
    #email{
        width: 95%;
    }
}
@media screen and (max-width: 480px) {
    .tomc-single-book-description{
        padding-right: 5px;
        margin-left: 5px;
    }
    .tomc-single-book-description-wrapper{
        margin-left: 5px;
        /* margin-right: 5px; */
    }
    .tomc-single-book-excerpt{
        margin-right: 5px;
    }
    .tomc-single-book-excerpt-wrapper{
        margin-right: 5px;
        margin-left: 5px;
    }
    .tomc-single-product-author{
        padding-right: 5px;
        margin-left: 5px;
    }
    .tomc-single-product-author-wrapper{
        margin-left: 5px;
        /* margin-right: 5px; */
    }
    .single-product-review-section{
        margin-right: 5px;
    }
    .tomc-review-section-wrapper{
        margin-right: 5px;
        margin-left: 5px;
        max-width: 90% !important;
    }
    .comment-form-comment textarea{
        width: 97%;
    }
    .comment-form-author input[type='text']{
        width: 97%;
    }
    #email{
        width: 97%;
    }
}

/* Woocommerce my account styles---------------------------------------------------------------------------- */

.woocommerce-MyAccount-navigation{
    border: solid 5px #f7c340;
    border-radius: 20% 0 20% 0;
    background: #f5d890;
    max-width: fit-content;
    padding-right: 20px;
}

.woocommerce-MyAccount-navigation li{
    list-style: none;
}

@media screen and (max-width: 768px) {
    .woocommerce-MyAccount-navigation{
        padding: 10px;
        margin: 0;
        max-width: 70%;
    }
}

/* hidden */
.tomc-hidden-content {
    display: none !important;
}
/*single e-book page for the product's creator-----------------------------------------------------------*/
.mvx_fpm_buttons{
    width: fit-content !important;
    height: fit-content !important;
    top: 80px !important;
    margin-right: 0px !important;
}
.mvx_fpm_button img{
    width: 16px !important;
    padding-top: 5px !important;
}
.mvx_fpm_button_separator{
    display: none !important;
}
/*woocommerce messages--------------------------------------------------------------------------------------*/
.woocommerce-message{
    width: fit-content;
    padding: 10px;
    background: white;
    border: solid #0c698e 5px;
    border-radius: 20px;
    margin: 10px auto;
}
.woocommerce-info{
    width: fit-content;
    padding: 10px;
    background: #faefe3;
    border: solid #e44e2d 5px;
    border-radius: 20px 0px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.wc_payment_methods{
    padding-inline-start: 20px !important;
    padding-inline-end: 20px !important;
}
.woocommerce-error{
    background: white;
    border: solid #893e43 5px;
    border-radius: 20px;
    margin: 10px auto;
    padding: 10px;
}
.woocommerce-error li{
    list-style: none;
}
/*checkout---------------------------------------------------------------------------------------------------*/
.woocommerce-checkout input[type="text"]{
    min-width: 150px;
    padding: 5px;
    margin-left: 5px;
    border-radius: 10px;
}
.woocommerce-checkout input[type="tel"]{
    min-width: 100px;
    padding: 5px;
    margin-left: 5px;
    border-radius: 10px;
}
.woocommerce-checkout input[type="email"]{
    min-width: 200px;
    padding: 5px;
    margin-left: 5px;
    border-radius: 10px;
}
.woocommerce-checkout textarea{
    min-width: 300px;
    min-height: 100px;
    padding: 5px;
    margin-left: 5px;
    border-radius: 10px;
    border: solid black 2px;
    display: block;
}
.woocommerce-checkout select{
    min-width: 100px;
    padding: 5px;
    margin-left: 5px;
    border-radius: 10px;
}
.select2{
    width: 250px !important;
    height: fit-content !important;
    padding: 5px !important;
    margin-left: 5px !important;
    background-color: white;
    border: solid black 2px !important;
    border-radius: 10px !important;
}
.select2-container--default .select2-selection--single{
    border: none !important;
}
#tomc_isbn_title, #tomc_isbn_subtitle{
    width: 250px !important;
}
#ship-to-different-address-checkbox{
    width: 20px !important;
    height: 20px !important;
    vertical-align: bottom;
}
.woocommerce-privacy-policy-text{
    margin-left: 20px;
}
.woocommerce-checkout button[type="submit"]{
    background-color: #4c0548;
    color: white;
    font-size: 16;
    border-radius: 45px;
    padding: 15px 30px;
    cursor: pointer;
    display: block;
    margin: 20px;
}
#order_review_heading{
    margin-top: 30px;
    padding: 10px 20px 0px 20px;
}
.woocommerce-order-overview{
    list-style: none !important;
}
.wc_payment_methods li{
    list-style: none !important;
}
.woocommerce-checkout-review-order-table{
    text-align: left !important;
    border-spacing: 30px 10px !important;
    background: #faefe3;
    border-radius: 10px;
    margin-left: 20px;
}
.woocommerce-checkout-review-order-table tbody{
    vertical-align: top !important;
}
#shipping_method li{
    list-style: none !important;
}
.woocommerce-shipping-totals td ul{
    padding-inline-start: 0px !important;
    padding-inline-end: 40px !important;
}
/*proceed to checkout page---------------------------------------------------------------------------------------------------*/
.wc-block-cart__submit-container{
    border: solid #0c6980 5px;
    border-radius: 10px;
}
/* registration page---------------------------------------------------------------------- */
#register-page{
    min-height: 140vh !important;
}
#buddypress .standard-form #basic-details-section{
    float: none !important;
    width: 90% !important;
    min-width: 280px !important;
    max-width: 500px !important;
    border-radius: 10px !important;
}
#buddypress .standard-form #profile-details-section{
    float: none !important;
}
#signup_username{
    width: 90% !important;
    min-width: 280px !important;
    max-width: 500px !important;
    border-radius: 10px !important;
}
#buddypress .standard-form input[type="email"]{
    width: 90% !important;
    min-width: 280px !important;
    max-width: 500px !important;
    border-radius: 10px !important;
}
#buddypress .standard-form #basic-details-section input[type="password"]{
    width: 90% !important;
    min-width: 280px !important;
    max-width: 500px !important;
    border-radius: 10px !important;
}
/* #field_1{
    min-width: 280px !important;
    max-width: 500px !important;
    border-radius: 10px !important;
} */
/* lost password------------------------------------------------------------ */
#user_login{
    width: 90% !important;
    min-width: 280px !important;
    max-width: 500px !important;
    border-radius: 10px !important;
}
.woocommerce-Button{
    background-color: #4c0548;
    color: white;
    font-size: 16;
    border-radius: 45px;
    padding: 5px 10px;
    cursor: pointer;
}
/* my account orders------------------------------------------------------------ */
.woocommerce-message .woocommerce-Button{
    display: block !important;
    width: fit-content !important;
    margin-bottom: 10px !important;
}